# Node
node_modules/
frontend/node_modules/
frontdesk-backend/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
frontdesk-backend/.env
frontend/.env

# Next.js
.next/
out/
